{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- portfolio -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mb-5">
        <img src="{{ .Params.image | absURL }}" class="img-fluid w-100" alt="{{ .Title }}">
      </div>
      <div class="col-lg-7 mb-5 mb-lg-0 align-self-center">
        <div class="row mx-0">

          {{ with .Params.time}}
          <div class="col-sm-6 mb-5">
            <div class="project-meta">
              <i class="ti-calendar"></i>
              <div class="ml-3">
                <h4>Build Time</h4>
                <p>{{. | markdownify}}</p>
              </div>
            </div>
          </div>
          {{ end }}
          {{ with .Params.area}}
          <div class="col-sm-6 mb-5">
            <div class="project-meta">
              <i class="ti-ruler"></i>
              <div class="ml-3">
                <h4>Area</h4>
                <p>{{. | markdownify}}</p>
              </div>
            </div>
          </div>
          {{ end }}
          <div class="col-sm-6 mb-5">
            <div class="project-meta">
              <i class="ti-folder"></i>
              <div class="ml-3">
                <h4>Categories</h4>
                <p>{{ delimit .Params.categories ", " | humanize }}</p>
              </div>
            </div>
          </div>
          {{ with .Params.cost}}
          <div class="col-sm-6 mb-5">
            <div class="project-meta">
              <i class="ti-money"></i>
              <div class="ml-3">
                <h4>Starting Cost</h4>
                <p>{{. | markdownify}}</p>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
      <div class="col-lg-11">
        <div class="content">{{.Content}}</div>
      </div>
    </div>
  </div>
</section>

<section class="section bg-light">
  <div class="container">
<div class="client-logo-slider d-flex align-items-center">
          {{ range .Params.pictures.item}}
  {{ if and ( ne .URL "" ) ( ne .URL "#" ) }}
  <a href="{{ .URL | safeURL }}" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid" src="{{.logo | absURL}}" alt="fox-box"></a>
  {{ else }}
  <span class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid" src="{{.logo | absURL}}" alt="fox-box"></span>
  {{ end }}
  {{ end }}
</div>
  </div>
</section>
<!-- /portfolio -->

{{ end }}
